.card{
    width:100%;
    .counters{
        margin-right: 30px;
        font-size: 10px;
        text-align:center;
        strong{
            display: block;
            font-size: 24px;
        }
        
        .vote, .answer{
            width:60px;
            height:60px;

        }

        .status{
            
        }
        .unanswered{
            border:none;
        }
        .answered{
            border: 1px solid $color-green;
            color: $color-green;
        }
        .answerd-accepted{
            background-color:$color-green;
            color:$color-white;
        }
        .view{
        margin-top:10px;
        }
    }
    .form-delete{
        display: inline;
    }
}